{# templates/partials/_cart_quantity.html.twig #}

{% if quantiteTotal > 0 %}
    <span class="position-absolute translate-middle badge rounded-pill bg-danger" id="cart-quantity">{{ quantiteTotal }}</span>
{% endif %}
