body {
    background-color: #222222;
    /* background-image: url('../IMG/fond.webp');  */
    height: 100%;
    min-height: 100vh;
    /* opacity: 0.5; */
    /* background-size: cover;  */


  }
      h1 *{
          color: #C9C9C9;
      }   
      a {
          text-decoration: none;
      }

      .text-orange {
        color: orange !important;
      }

/* ------------------------------------------------------------------------------------------------------------ */
      /* Page base */

  /* LE HEADER INCLU DANS TOUTES LES PAGES  */
  
  /* penser à ajouter une 'box-shadow' au bottom de la .nav et voir pour le bg 
  vérifier s'il n'est pas plus judicieux de nommer des classes perso au cas où il y aurait pls nav hors le header*/
  
  #menu {
      height: 20vh;
      background-color: rgba(29, 28, 28, 0.7);
          /* background-color: #222222; */
    /* background-image: url('../IMG/fond.webp'); 
    background-size: cover;  */
    /* height: 200px; Ajuste la hauteur du header selon tes besoins */
      /* box-shadow: 0px 5px 10px #42031f; */
      z-index: 2;
      /* opacity: 0.2; */
      box-shadow: 0 10px 10px black;
    }
  /* #navbarSupportedContent{
    background-color: #222222;
  } */
  
  /* .navbar-nav a{
    color: #d2571d;
  }
  .nav-link{
    color: #d2571d;
  } */
  
      /* ----------------------------------------- */
          /*  PAGE ADMINISTRATION categories   */
  
      .btn-delete {
        color: red;
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
    
    /* .btn-delete:hover {
        color: darkred;
    } */
  
        /* ----------------------------------------- */
  
      /*  PAGEs form    */
      .form {
        padding-top: 200px;
      }
      
      /* ******** toute les pages */
      .contenu {
        /* background-color: #222222; */
        /* padding-top: 100px; */
        margin-top: 20vh;
        /* margin-top: 200px; */
        margin-left: 10vh;

        min-height: 100vh;
        /* background-image: url("IMG/fond/bg3.jpeg"); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        z-index: 1;
        /* filter: blur(5px); */
      }
      .zoom-img {
        /* background-color: #50565c; */
        transition: transform 0.3s ease-in-out;
      }
      .zoom-img:hover {
        transform: scale(1.1);
        /* translate: 1s; */
        border: none;
        transition: 1s ease-in-out;
        /* border-radius: 50%; */
      }
      /* .contenu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/dist/assets/bg3.jpeg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        z-index: 0;
        filter: blur(5px); 
      } */
      
      /* ------------------------------------------------------------------------------------------------------------ */
      .img-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; /* ou toute autre valeur de largeur souhaitée */
        height: auto; /* pour garder les proportions de l'image */
    }
  
          /* ------------------------------------------------------------------------------------------------------------ */
      /*  LES CARTES AVEC PRODUITS    */

      .card {
        background-color: transparent;
        border: none;
      }

      .card-body {
        padding: 0;
    }

    .card-title, .content {
        text-align: center;
        color: white;
    }

    .card-footer {
        border-top: none;
        background-color: transparent;
    }

    .card-img-top {
        border-radius: 0;
        max-width: 100%;
        height: auto;
    }
  /* .card-header {
    position: relative;
  } */
  
  .card-header button {
    /* z-index: 1; */
    position: absolute;
  }
  
      /* ------------------------------------------------------------------------------------------------------------ */
  
  /*  PAGE FORMULAIRE  */
  form{
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    padding: 2%;
  }
  
  /* Styles for custom form inputs */
  .custom-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      /* color: black; */
    }
    
    /* Styles for form errors */
    .form-error {
      color: red;
    }
    
    /* Styles for the submit button */
    /* .btn {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    } */
    .submit{
      margin-top: 10%;
      background-color: #41666C;
      cursor: pointer;
      color: #FFF;
    }
    .submit:hover{
      filter: brightness(1.1);
    }
    /* #formulaire {
      background-color: rgba(36, 38, 41, 0.6);
    } */
    .text-orange {
      color: #c04b14; /* Code couleur pour le texte blanc */
      font-size: large;
  }
  
    .text-white {
      color: #ffffff; /* Code couleur pour le texte blanc */
  }
    #formulaire label {
      color: #f3e5e5;
      /* background-color: rgba(178, 181, 187, 0.3); */
    }
  
    /* ------------------------------------------------------------------------------------------------------------ */
  
  /*  LES ICONES RESEAUX SOCIAUX  */

  /* Styles pour les icônes de réseaux sociaux */
.social-icon {
  position: fixed; /* Fixe les icônes en bas de la page */
  bottom: 10VH; /* Espacement depuis le bas de la fenêtre */
  right: 10VH; /* Espacement depuis le bord droit de la fenêtre */
  list-style: none; /* Supprime les puces */
  /* padding: 0; Supprime le padding par défaut */
  /* margin: 0; Supprime la marge par défaut */
  display: flex; /* Utilise Flexbox pour aligner les icônes horizontalement */
  gap: 50px; /* Espacement entre les icônes */
}

/* .social-icon { */
  /* Style des éléments de liste, si nécessaire */
/* } */

.social-icon-link {
  display: block;
  color: #1b25b4; /* Couleur des icônes (changez selon votre thème) */
  font-size: 100px; /* Taille des icônes */
  text-decoration: none; /* Supprime la décoration du lien */
}

.social-icon-link:hover {
  color: #007bff; /* Couleur au survol (changez selon votre thème) */
}

    /* ------------------------------------------------------------------------------------------------------------ */
  
  /*  LE FOOTER  */

  .footer {
    background-color: rgba(29, 28, 28, 0.7);
    /* height: 10vh; */
      bottom: 0;
      /* background-color: #f8f9fa; */
      /* opacity: 0.9; */
      position: relative; /* Assurez-vous que cela ne soit pas fixed ou absolute */
      z-index: 1;
    }
    
    .footer ul {
      margin-bottom: 0;
    }
    
    .footer ul li {
      display: inline-block;
      margin-right: 10px;
    }
    
    .footer ul li:last-child {
      margin-right: 0;
    }
    
    .footer ul li a {
      color: #50565c;
      font-size: 24px;
      text-decoration: none;
    }
    
    .footer ul li a:hover {
      /* color: #007bff; */
      color: #ff8400;
  
    }
    
    /* .link-external i:hover{
    afficher le nom en texte du lien
    } */
    
    /* ////////////////menu déroulant mobile/////////// */
    @media (max-width: 767px) {
      .collapse.navbar-collapse {
          /* background-color: rgba(226, 226, 226, 0.7);  */
          /* Ajoutez votre couleur de fond ici */
          background-color: rgba(226, 226, 226); 
          box-shadow: 0px 5px 10px #bf7113; /* Conservez votre ombre si nécessaire */
      }
  
      .navbar-nav {
        margin-left: auto; /* Aligne les éléments du menu à droite */
    }
  
    .navbar-toggler {
        margin-left: auto; /* Aligne le bouton de menu à droite */
    }  }