{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}

{% block title %}Serveur innaccessible{% endblock %}
{% block message %}Veuillez nous excuser pour ce désagrément.{% endblock %}
{% block description %}Une erreur s'est produite. Réessayer plus tard !
{# <div class="py-5">
<a href="{{ path('app_accueil') }}">Retour à laccueil
<i  class="bi bi-house"></i>
</a>
</div> #}
{% endblock %}
