
{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}

{% block title %}Page innaccessible{% endblock %}
{% block message %}Page innaccessible{% endblock %}
{% block description %}Vous n'avez pas la permission pour accéder à cette page !
{# <div class="py-5">
<a href="{{ path('app_accueil') }}">Retour à laccueil
<i  class="bi bi-house"></i>
</a>
</div> #}
{% endblock %}
