{# {% extends 'base.html.twig' %} #}
{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}

{% block title %}Page introuvable{% endblock %}
{% block message %}Page introuvable{% endblock %}
{% block description %}Cette page est innaccessible désolé !
{# <div class="text-center py-5">
<a href="{{ path('app_accueil') }}">Retour
<i  class="bi bi-house"></i>
</a>
</div> #}
{% endblock %}

